@model IEnumerable<ARB_ASPNET.Models.Customer>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <div class="row">
            <form>
                <div  style="display:flex">     
                    <div class="col-md-12" style="width:200px">
                       
                        <input name="fullname">
                    </div>
                    <div>
                        <label></label>
                        <button class="btn btn-default btn-sm">Search</button>
                    </div>

                </div>
            </form>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fullname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BirthDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.yearOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CCDD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Facebook)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isUniversity)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BirthDay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.yearOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CCDD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Facebook)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isUniversity)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
