@model IEnumerable<Data.Entity.spGetAllDonHangNew_Result>

@{
    ViewBag.Title = "getAllListNew";
    Layout = "~/Areas/Admin/Views/Shared/Layout-admin.cshtml";
}





<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            List all order
            <a href="~/Admin/TinTuc/Insert" style="float:right">Create</a>
        </h6>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.C_No)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.InfoProduct)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalProductCost)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Discount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FeeShip)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalPay)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Paid)
                        </th>
                        <th></th>
                    </tr>
                </thead>  
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.C_No)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InfoProduct)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalProductCost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Discount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FeeShip)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalPay)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Paid)
                            </td>
                            <td>
                                <a href="~/Admin/TinTuc/Update?id=@item.Id">Update</a>
                                <a href="~/Admin/TinTuc/Delete?id=@item.Id" style="color:red">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

